.msg {
    margin-left: 50px;
    color: red;
}

#erreur1
{
	font-family: Arial;
	color: red;

}

#erreur2
{
	font-family: Arial;
	color: red;
}

#erreur3
{
	font-family: Arial;
	color: red;

}

#erreur4
{
	font-family: Arial;
	color: red;
}

#erreur5
{
	font-family: Arial;
	color: red;

}


